@import "tailwindcss";

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* This changes the text color to your Forest Green */
  -webkit-text-fill-color: #344E41 !important;
  
  /* This makes the background match the Sage/Stone color of your form card (#E9E5D3) */
  -webkit-box-shadow: 0 0 0px 1000px #E9E5D3 inset !important;
  
  /* Smooth transition to prevent the default yellow flash */
  transition: background-color 5000s ease-in-out 0s;
  
  /* Match your font-serif style if desired */
  font-family: serif !important;
}